/*
Theme Name: cornerstonechildtheme
Description: Child theme for the Cornerstone starter theme
Template: cornerstone-master
Version: 1.0
*/

@import url(../cornerstone-master/style.css);

body{
	color: rgba(55,57,59,1);
	font-family: 'ZurichBT-Light';
}

.ZurichBT-Light { 
	font-family: ZurichBT-Light;
	font-weight: normal;
	font-style: normal;
}
.ZurichBT-Roman { 
	font-family: ZurichBT-Roman;
	font-weight: normal;
	font-style: normal;
}
.ZurichBT-Bold { 
	font-family: ZurichBT-Bold;
	font-weight: normal;
	font-style: normal;
}
.ZurichBT-LightCondensed { 
	font-family: ZurichBT-LightCondensed;
	font-weight: normal;
	font-style: normal;
}
.ZurichBT-RomanCondensed { 
	font-family: ZurichBT-RomanCondensed;
	font-weight: normal;
	font-style: normal;
}

table{
	width:100% !important;
}

table.vc-table-plugin-theme-classic{
	width:100%;
}

a{
	color:rgb(255, 89, 0);
}

.main-footer h4{
	font-family: 'ZurichBT-Roman';
}

h1 {
  font-family: "ZurichBT-LightCondensed";
  color: rgba(255, 89, 0, 1);
  font-weight: bold;
  font-size: 2.091145854245em;
  border-bottom: 1px solid rgba(55,57,59,1);
  margin-bottom: 1em;
}

h1.entry-title,
.hero-products h1,
.sub-hero h1,
.home-case-study h1{
	border:none;
}

h2 {
  font-family: 'ZurichBT-Roman';
  color: #231f20;
  font-size: 1.3383333467168em;
}

h3, h4 {
	font-family: 'ZurichBT-Bold';
	color: #231f20;
	font-size: 1.0037500100376em;
}

h5{
	font-family: 'ZurichBT-Roman';
	font-weight: normal;
	font-size: 25px;
	background-color: #a6a8ab;
	color: #fff;
	padding:2px 5px;

}

p{
	font-family: arial;
	color: #5E6061;
	font-size: 0.8782812587829em;
}

ul, ol, dl {
	font-size: 0.9rem;
	line-height: 1.6;
	list-style-position: outside;
	font-family: inherit;
}

.filter-container button, 
.filter-container .button {
	color:#231f20;
	font-weight: bold;
	background-color:#f4f1e9; /*#231f20;*/
}

.filter-container button:hover, 
.filter-container button:focus, 
.filter-container .button:hover, 
.filter-container .button:focus,
 button.active,
 .button.active{
	color:#fff;
	background-color: #231f20;
}



.alignleft {display: inline; float: left; margin-right: 1.625em;}
.alignright {display: inline; float: right; margin-left: 1.625em;}
.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}

.widget_nav_menu ul,.widget_recent_entries ul,.clearing-thumbs{list-style:none}

.top-bar {
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	position: relative;
	background: #333333;
	margin-bottom: 0;
}

.top-bar .title-area .name a {
	font-size: 1.0625em;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 0 15px;
	line-height: 35px;
}

.top-bar .name {
	height: 35px;
}

.top-bar-section li a:not(.button):hover{
	text-decoration: none;
}

#content .sticky {position:static;}

.orbit-container {background: transparent;}

#content,.sidebar{margin-top: 1em;}

.divider{
	margin:0 !important;
	padding: 0;
}

.entry-content ul:not([class*="block-grid-"]):not(.clearing-thumbs),.widget_archive ul{margin-left:2em;}

.wrapper{
	padding : 0 15px ;
	background-color: #F3F3F4;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 0px 30px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 0px 30px rgba(50, 50, 50, 0.1);
}


/* 							|______ LOGO BANNER _____| 

-------------------------------------------------------------------------------*/

.leftwhite{
	width: 50%;
	background-color: #fff;
	height: 98px;
	position: absolute;
}

.id-logo{
	background-image: url(img/id_banner_logo_id.png);
	background-size: 300px 98px;
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 98px;
	width: 100%;
	background-color: rgba(255, 89, 0, 1);
	position: relative;
}

.id-logo.placemaker{
	background-image: url(img/placemaker/id_banner_logo_placemaker.png);
	background-size: 558px 168px;
	background-color: transparent;
	height: 193px;
}

.id-logo.profile{
	background-color: rgba(231,25,57,1);
	background-image: url(img/id_banner_logo_profile.png);
	background-size: 313px 99px;
}

.id-logo.profile a{
	width: 313px;
}

.id-logo.forecast{
	background-image: url(img/id_banner_logo_forecast.png);
	background-color: rgba(59,110,143,1);
	height: 98px;
}

.id-logo.economy{
	background-image: url(img/id_banner_logo_economy.png);
	background-color: rgba(113,184,90,1);
	background-size: 308px 98px;
}

.id-logo.economy a{
	width: 308px;
}

.id-logo.atlas{
	background-image: url(img/id_banner_logo_atlas.png);
	background-color: rgba(202,174,1,1);
	background-size: 250px 98px;
}

.id-logo.housing{
	background-image: url(img/id_banner_logo_housing.png);
	background-color: rgb(137, 203, 223);
	background-size: 266px 98px;
}

.id-logo a{
	display: block;
	width: 300px;
	height: 98px;
}

h1.motto {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "ZurichBT-RomanCondensed";
	font-weight: lighter;
	font-size: 2.4em;
	max-width: 264px;
	line-height: 0.8em;
	position: absolute;
	top: 35px;
	left: 140px;
	border:none;
}

/* 							|______ NAVIGATION _____| 

-------------------------------------------------------------------------------*/

.main-navigation
{
	z-index: 1000;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.dropdown{
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.2);
	box-shadow: 0 0 18px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.top-bar-section ul li.active > a {
	background: rgba(255,89,0,1);
	color: white;
}

.top-bar-section li a:not(.button):hover {
	background: #53585a;
}

.top-bar-section ul li.active > a:hover {
	background: #53585a;
}

.top-bar-section ul li:hover > a {
	background: #53585a;
}

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.4) ;
}

.top-bar-section .dropdown li.title h5 {
	background-color: transparent;
}

#top-shadow {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    z-index: 999;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    display: none;
}

.top-shadow{
	bottom: 0px;
left: 5%;
width: 90%;
height: 50px;
-webkit-border-radius: 125px / 12px;
-moz-border-radius: 125px / 12px;
-ms-border-radius: 125px / 12px;
border-radius: 125px / 12px;
-webkit-box-shadow: 0 0 8px #565656;
-moz-box-shadow: 0 0 8px #565656;
-ms-box-shadow: 0 0 8px #565656;
-o-box-shadow: 0 0 8px #565656;
box-shadow: 0 0 8px #565656;
}

/* 							|______ FOOTER _____| 

-------------------------------------------------------------------------------*/

.widget_nav_menu{
	min-height: 250px;
}

.footer-box{
	padding:0;
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

.footer-box:last-child{
	border-right: none;
}

.footer-box > div{
	display: block;
	min-height: 95px;
	background-color: #fff;
	padding: 13px 10px 12px 16px;
}

.footer-box h5{
	background-color: transparent;
	font-size: .8em;
	color: #f26722;
	margin: 0;
	margin-top: -7px;
	font-weight: 400;
	margin-bottom: 2px;
	line-height: 1.3em;
}

.footer-box h5 span{

	font-family: 'ZurichBT-Light';
	color: rgba(55,57,59,1);

}

.footer-box.inverted h4{
	color: #5f6062;
}

.footer-box:before,
.thungy{
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url(img/icon_arrow_box.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.footer-box.inverted:before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url(img/icon_arrow_box_grey.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.footer-disclaimer p{
	color:#444444;
	font-size: .7em;
	margin: 0;
	line-height: 1.2em;
}

.main-footer{
	padding-top: 15px;
	background-color: #fff;
}

 footer ul{
 	list-style: none;
 }

  footer ul > li{
  	/*margin-bottom: 1.375rem;*/
  }

  footer ul > li > ul > li{
  	margin-bottom: 0rem;
  }

  footer ul a{
  	color:#444;
  }

 footer ul li.menu-item{
	padding: 0;
	
 }

 footer ul li ul{
 	margin: 0;
 }

.footer-box .vcard {
	display: inline-block;
	margin: 0 ;
	border: none;
	padding:0;
}

.footer-box p{
	font-size: 0.5em;
	line-height: 1.3em;
	margin-bottom: 0;
}

.footer-box .address h5{
	color:rgba(55,57,59,1);
}

.footer-box .address p{
	font-size: .8em;
	color:#f26722;
}

.footer-menu{
	max-height: 200px;
	overflow: hidden;
	min-height: 160px;
	padding: 0;
	padding-right: 0.9375em;
}

.footer-menu ul{
	margin-left: 0;
}

.footer-menu h4{
	font-family: ZurichBT-Bold;
	color:#353535;
	font-weight: normal;
	font-size: .8em;
}

.footer-menu li{
	font-size: .8em;
}

.footer-disclaimer{
	padding:0.6em;
	background-color: #d1d2d4;
}

.footer-disclaimer p{
	color:#fff;
}



/* 							|______ HOME PAGE _____| 

-------------------------------------------------------------------------------*/

/* RSS FEED */

.blogroll ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.blogroll h6{
	font-family: Arial, Helvetica, sans-serif;
}

.blogroll h6.more-blog-posts{
	line-height: 1em;
	background-image: url(img/icon_arrow_box_white.png);
	background-position: 0 4px;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.blogroll h6{
	line-height: 1em;
	background-image: url(img/icon_arrow_box_grey.png);
	background-position: 0 4px;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.blogroll h6 a{
	color:#444444;
	font-size: 0.8rem;
}

.blogroll h6.more-blog-posts a{
	color:#fff;
}

.use-cases{
	position: relative;
	margin-bottom: 15px !important;
}

/* 							|______ cycle 2 for the home page use cases _____| 

-------------------------------------------------------------------------------*/

.slider-wrapper{
	position: relative;
	
}

.swipe {
	overflow: hidden;
	position: relative;
	max-width: 930px;
	width: 100%;
	height: 310px;
	margin: auto 0;
}

.swipe img{
	max-width: 930px !important;
}

.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}
.slideNav .nav {
	position: absolute;
	width: 80px;
	height: 38px;
	z-index: 10;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	color: #fff;
	top: 45%;
	cursor: pointer;
	background-color: rgba(0,0,0,0.8)
}
.slideNav .next {
	right: 0;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.slideNav .prev {
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.slideNav{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	max-width: 930px;
}



.use-cases-resp{
	max-width: 960px;
	overflow: hidden;
	width: 100%;
	display: none;
	
}

.usecase-wrapper{
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 11px rgba(0,0,0,0.1);
	box-shadow: 0 0 11px rgba(0,0,0,0.1);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.resp-usecases{
	min-height: 310px;
	padding: 0 0.46875em;
	margin-bottom: 15px;
	border-right: 8px solid transparent;
	overflow: hidden;
	
}

.use-cases-resp .use-case{
	margin-bottom: 15px;
	overflow: hidden;
}

.use-cases-resp img{
	max-width: 960px;
}

.overlay { 
    position: absolute;
	top: 30px;
	width: 100%;
	max-width: 235px;
	z-index: 10;
	left: 40px;
	display: block;
	opacity: 1;
	visibility: visible;
	padding-right: 20px;
}

.overlay h1{
	border: none;
	line-height: 1em;
	font-size: 2.5em;
	margin-bottom: 0.5em;
}


.overlay p{
	font-family: Arial;
	font-size: 0.875rem;
	line-height: 1rem;
	position: relative;
	color: #5e6061;
}



.bullets a {
	font-size: 50px;
	width: 16px;
	height: 16px;
	display: inline-block;
	color: #fff;
}


.bullets a:hover{
	cursor: pointer;
}

.bullets a.active {
	color: #f26722;
}

div.outer{
    display:inline-block;
    position:relative;
    left:50%;
}

div.inner{
    position:relative;
    left:-50%;
}

/* 							|______ HOME PAGE: case studies _____| 

-------------------------------------------------------------------------------*/

.home-case-study{
	position: absolute;
}

.home-case-study img{
	max-width: inherit;
}

.caption{
	position: absolute;
	top: 69px;
	left: 41px;
	max-width: 336px;
}

.caption h1{
	font-weight: 600;
	line-height: 1em;
	font-size: 2.2em;
}

.header{
	background-color:#fff;
	position: relative;
	/*margin-bottom: 20px !important;*/ 
}

.home .header{
	margin-bottom: 20px !important;
}

.logo-home{
	display: inline-block;
	background-image: url(img/id_banner_logo_home-condensed.png);
	width: 100%;
	max-width: 582px;
	height: 192px;
	background-size: 100% auto !important;
	background-repeat: no-repeat;
}

.banner{
	display: inline-block;
	background-image: url(img/header_whole.png);
	width: 100%;
	max-width: 960px;
	height: 97px;
	background-size: 100% auto !important;
	background-repeat: no-repeat;
}

.hero-products > div:first-child{
	border: 15px solid rgba(255, 89, 0, 1);
	min-height: 260px;
	padding: 15px 35px 15px 35px;
	background-color: #fff;
}

.hero-products:hover > div:first-child{
	border: 15px solid #53585a;
	min-height: 260px;
	padding: 15px 35px 15px 35px;
	background-color: #fff;
}

.hero-products h1{
	font-size: 1.2rem;
	margin-bottom: 0;
}

.hero-products h2{
	font-size: 1.7rem;
	color:#5f6062;
	font-weight: 400;
	line-height: 2rem;
	background: none;
}

.hero-products p{
	font-family: Arial;
	font-size: 0.875rem;
	color: rgba(55,57,59,1);
	line-height: 1rem;
	position: relative;
	color:#5e6061;
}

.case-studies{
	position: absolute;
	margin:0;
	list-style: none;
	width: 100%;
	max-width: 960px;
	height: 80%;
	overflow: hidden;
}

.home-links{
	margin-bottom: 15px !important;
}

.home-box > div:first-child{
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 11px rgba(0,0,0,0.1);
	box-shadow: 0 0 11px rgba(0,0,0,0.1);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.home-box >div{
	background-color: #f26722;
	padding: 30px 15px 15px 50px;
	margin-bottom: 15px;
	min-height: 235px
}

.home-box h1{
	color:black;
	font-size: 1.50rem;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 1.5rem;
}

.home-box p{
	color:#ffffff;
	font-size: 0.9rem;
	font-weight: 200;
	line-height: 1.15em;
	position: relative;
}

.home-box .p-arrow-white{
	width: 42px;
	height: 25px;
	position: absolute;
	top: -4px;
	left: -50px;
	z-index: 1;
	background-image: url(img/icon_arrow_white.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.hero-products .p-arrow-grey{
	width: 42px;
	height: 25px;
	position: absolute;
	top: -4px;
	left: -50px;
	z-index: 1;
	background-image: url(img/icon_arrow_grey.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.sub-hero .hs-form{
	margin-bottom: 0 !important;
}

.sub-hero .hs-form .field {
	margin-bottom: 0 !important;
	height: 39px !important;
	clear: both !important;
}

.sub-hero .hs-form label{
	width: 50px !important;
	color:#fff !important;
	text-align: left !important;
}

.sub-hero .hs-form label.error{
	width: 150px !important;
	font-size: 12px;
	font-weight: normal;
}

.sub-hero .hs-form .input {
	margin-left: 50px !important;
}

.sub-hero .hs-form .hs-input, 
.sub-hero .hs-form textarea.hs-input {
	width: 95% !important;
	height:inherit !important;
}

.sub-hero input.hs-input, 
.sub-hero textarea.hs-input, 
.sub-hero select.hs-input, 
.sub-hero .hs-input.uneditable-input{
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-radius: 0px !important;
}



.sub-hero .hs-form .actions {
	padding:0 !important;
	margin: 0 !important;
	direction:  rtl !important;
}

.sub-hero .hs-form .hs-button {
	background-color:#5e6061 !important;
	background-image: none !important;
	border:none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-radius: 0px !important;
	box-shadow:none !important;
	font-weight: normal !important;
}

.sub-hero .hs-form .email-correction, 
.sub-hero .hs-form .email-validation{
	display: none !important;
}

.sub-hero .hs-form .hs-form-required {
	color: #fff !important;
}

.sub-hero .err {
	background: transparent;
	display: none !important;
}

.sub-hero .err p{
	color:red;
}

.sub-hero .err em{
	/*display: none;*/
}

/* 							|______ STAFF PAGE _____| 

-------------------------------------------------------------------------------*/

#staff-filters{
	margin-bottom: 30px;
}

.staff-member{
	padding: 0 0.46875em;
	margin-bottom: 15px;
	padding-right: 10px;
    position: relative;
	-webkit-transform: translateZ(0);
}

.staff-member:hover{
	cursor: pointer;
}

.staff-member > div:first-child{
	background-color: #fff;
	max-height: 70px;
	overflow: hidden;
}

.staff-member.expanded > div:first-child{
	max-height: inherit;
}

img.staff-photo{
	float: left;
	margin-right: 10px;
	width: 100px;
}

.staff-member.expanded img.staff-photo{
	float: left;
	margin-right: 10px;
	width: 200px;
}

.staff-member.expanded h1.staff-name{
	font-size: 1.3em;
	font-weight: 400;
	margin-bottom: .5em;;
	margin-top: .5em;
}

.staff-member h1.staff-name{
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 0;
	border:none;
}

.staff-member h3.staff-role-title{
	font-size: .9em;
	color: #000;
}

.staff-member.expanded h3.staff-role-title{
	font-size: 1.2em;
	color: #000;
	background-image: none;
}

.staff-member p.staff-role-description{
	font-size: .8em;
	color: #5f6062;
	margin-bottom: 0;
}

.staff-member blockquote{
	padding:0 0 0 5px;
	font-size: .7em;
	color:#b1b1b1;
	line-height: 1em;
	margin-bottom: 0;

}

.staff-member.expanded blockquote{
	font-size: 1em;
	line-height: 1.4em;
}

.staff-summary{
	float: left;
	padding-right: 10px;
	min-width: 100%;
}

.staff-member.expanded .staff-summary{
	max-width: 66%;
}

.staff-role{
	float: right;
	width: 100%;
	display: none;
}

.medium-6 .staff-role{
	display: none;
}

.expanded .staff-role{
	display: block;
}

.staff-member.expanded{

}

.fa-plus-circle{
	-webkit-font-smoothing: antialiased;
	color:rgba(255, 89, 0, 1);
}

.open-close-icn{
	
	position: absolute;
	right: 3px;
	top: -3px;
}

.staff-member .open-close-icn {
	font-size: 24px;
	width: 21px;
	height: 23px;
	top: -11px;
	right: 0px;
	opacity: 0;
	display: inline-block;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.staff-member:hover .open-close-icn {
	-webkit-transform:opacity;
    -moz-transform:opacity;
    -o-transform:opacity;
	opacity: 1;
}

.staff-member.expanded .open-close-icn {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    .rotate(45deg);
    opacity: 1;
}


/* 							|______ CONTACT PAGE _____| 

-------------------------------------------------------------------------------*/


.contact-box,
.contact-box-alt,
.about-box,
.about-box-alt {
	padding: 0 0.46875em;
	margin-bottom: 15px;
}

.contact-box-alt .contact-box-container,
.contact-box .contact-box-container,
.about-box-alt .about-box-container,
.about-box .about-box-container{
	min-height: 200px;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.contact-box-alt .contact-box-container,
.about-box-alt .about-box-container{
	background-color: #EBEBEB;
	background-image: url(img/contactBoxBg1.png);
}

.contact-box .contact-box-container,
.about-box .about-box-container{
	background-color: #f26722;
	background-image: url(img/contactBoxBg2.png);
}

.contact-box h1,
.contact-box-alt h1,
.about-box h1,
.about-box-alt h1{
	color:#fff;
	font-size: 1.5em;
	border:none;
	margin-bottom: .2em;

}

.contact-box-alt h1,
.about-box-alt h1{
	color:#f26722;
}

.contact-box p,
.contact-box-alt p,
.about-box p,
.about-box-alt p{
	color:#000;
	line-height: 1.3em;
	font-size: 0.8em;
}

.contact-phone,
.contact-email,
.contact-popin, 
.contact-blog, 
.contact-enews, 
.contact-twitter{
	padding:15px 20px 20px 15px;
	
}

.contact-phone{}

.contact-email{}

.contact-popin{}

.contact-blog{}

.contact-enews{}

.contact-twitter{}

address{
	font-style: normal !important;
}


/* 							|______ ABOUT US PAGE _____| 

-------------------------------------------------------------------------------*/






/* 							|______ LAYOUT _____| 

-------------------------------------------------------------------------------*/

.pad{
	padding: 0 0.46875em;
}

#content{
	float: right;
	padding:0;
}

/*	experimental
	http://osvaldas.info/imitating-calc-fallback-fixed-width-sidebar-in-responsive-layout 
*/
/*.column_container{
    width: -webkit-calc( 100% - 15em ) !important; 
    width: -moz-calc( 100% - 15em ) !important; 
    width: calc( 100% - 15em ) !important; 
    float: left;
}*/

/*.sidebar{
	float:left;
	padding:0;
	margin-top: 50px;
	text-align: center;

		experimental
		http://osvaldas.info/imitating-calc-fallback-fixed-width-sidebar-in-responsive-layout 
	
	width: 16.666% !important; 
    width: -webkit-calc( 12.5em ) !important; 
    width: -moz-calc( 12.5em ) !important; 
    width: calc( 12.5em ) !important; 
}*/

.sidebar img{
	width: 100%;
	/*width: 16.666% !important; 
    width: -webkit-calc( 12.5em ) !important; 
    width: -moz-calc( 12.5em ) !important; 
    width: calc( 12.5em ) !important;*/ 
}

.pad-double{
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}

.pad-half{
	padding-left: 0.234375em;
	padding-right: 0.234375em;
}

.heros{
	padding: 0 0.46875em;
}

.hero-products{
	margin-bottom: 15px;
}

.hero-products, .home-box{
	padding:0;
	padding: 0 0.46875em;
	-webkit-transform: translateZ(0); /*prevent the flicker bug that flexslider is causing on these boxes on slides*/
}

.sidebar .home-box{
	padding:0;
}

.quote{
	padding:15px;
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 11px rgba(0,0,0,0.1);
	box-shadow: 0 0 11px rgba(0,0,0,0.1);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-color: #f9f9f9;
}







/* 							|______ OVERLAY YOUTUBE _____| 

-------------------------------------------------------------------------------*/

#overlay{
  background:#000;
  position:absolute;
  z-index:10;
}

#youtube-box{
  max-width:640px;
  height: 100%;
  max-height: 345px;
  width:100%;
  background:#fff;
  position:absolute;
  z-index:20;
}

iframe{
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	outline: none;
	overflow: hidden;
	padding:10px;
}



/* 							|______ CLIENT TABLE _____| 

-------------------------------------------------------------------------------*/

.clients{
	width:100%;
	overflow:hidden;
	position: relative;
}

.client-list{
	margin:0;
}

.client-list li{
	margin-left: 0;
	list-style: none;
	
}

.client-list li a{
	line-height: 20px;
	display: block;
}

.client-list tr:hover,
.client-list tr.alt:hover{
	background: #DADADA;
}

.client-list li.alt{
	background: #f9f9f9;
}

table.client-list tr.even, 
table.client-list tr.alt, 
table.client-list tr:nth-of-type(even) {
	background: #f9f9f9;
}

.clients form{
	width:100%;
	margin:27px 0 0;
	padding:0 0 9px;
	overflow:hidden;
}

.clients .sel{
	float:left;
	width:223px;
}

#region-filters{
	margin-bottom: 15px;
}

.clientFilterRegion{
	margin-bottom: 0;
}

.filter-container{
	margin-bottom: 15px;
}

#region-filters button a{
	color:#fff;
}

#region-filters [class*="column"] + [class*="column"]:last-child {
float: inherit;
}

table.responsive {
	width:100%;
}

.client-list-container{
	height: 475px;
	overflow-y: scroll;
	margin-bottom: 15px;
	border:none;
	-webkit-overflow-scrolling: touch;
}

table.client-list{
	width:100%;
	border: none;
}

table.client-list-header{
	width:100%;
	position: relative;
	z-index: 10;
	margin-bottom: 0;
	border:none;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWU2ZGIiIHN0b3Atb3BhY2l0eT0iMC4zMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(234,230,219,0.31) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(234,230,219,0.31))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(234,230,219,0.31) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(234,230,219,0.31) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(234,230,219,0.31) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(234,230,219,0.31) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4feae6db',GradientType=0 ); /* IE6-8 */

}


.client-col{
	padding: 0.5rem 0.4rem;
}

.product-col {
    width:17.5%;
    height:41px;
    border-right:solid 1px #eae6db;
}

.client-col-head{
	min-width: 115px;
}

.client-col-head,
.product-col-head {
	
    width:30%;
    height:48px;
    /*background-image:url('images/common/client-heading-bg.jpg');*/
    background-position:center top;
    background-repeat:no-repeat;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 13px;
	color: #231f20;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.product-col-head {
    width:17.5%;
}
.product-col-head a {
    color: #000000;
    text-decoration: none;
}

.product-col-head a:hover {
    color: #000000;
}

.product-col-head span.product-short{
	display: none;
}

.product-col-head span.id-suffix {
    color:#d34d32;
}

.product-col a.link-arrow {
	width: 27px;
	height: 27px;
	margin: 0 auto;
	background-image: url(img/product-link-orb.png);
	background-position: 0px 0px;
	display: block;
}

a.link-arrow:hover {
	background-position: 0px -27px;
}

.client-list tr.no-match{
	text-align: center;
}

button:focus {
  outline: none;
}


/* 							|______ RESOURCE CENTER PANELS _____| 

-------------------------------------------------------------------------------*/

.resource-product{
	margin-bottom: 15px;
	padding: 0 0.46875em;
	min-height: 220px;
}

.resource-product .header{
	padding: 10px 60px 0 50px;
	
}

.resource-product .container{
	padding: 10px 80px 20px 50px;
	background-color: #E6E6E6;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.resource-product .p-arrow-white{
	width: 42px;
	height: 25px;
	position: absolute;
	top: 0px;
	left: -50px;
	z-index: 1;
	background-image: url(img/icon_arrow_white.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.resource-product h1{
	font-family: "ZurichBT-Bold";	
	font-weight: normal;
	border:none;
	color:#fff;
	opacity: .7;
	margin:0;
	font-size: 20px;
	line-height: 1em;
}

.resource-product h1.subheader{
	font-family: "ZurichBT-RomanCondensed";
	font-weight: normal;
	opacity: 1;
	position: relative;
	font-size: 30px;
}

.prod-community,
.prod-forecast,
.prod-economy,
.prod-atlases,
.prod-indicators{
	
}

.prod-community .container{
	background-image: url(img/contactBoxBg1.png);
}

.prod-forecast .container{
	background-image: url(img/contactBoxBg4.png);
}

.prod-economy .container{
	background-image: url(img/contactBoxBg3.png);
}

.prod-atlases .container{
	background-image: url(img/contactBoxBg5.png);
}

.prod-indicators .container{
	background-image: url(img/contactBoxBg3.png);
}

.prod-filler{

}

.prod-filler .container{
	padding: 50px;
	background-color: #53585a;
	min-height: 220px;
}

.prod-filler .container p{
	font-family: "ZurichBT-Roman";
	color: #fff;
	font-size: 1.5em;
	line-height: 1.3em;
	padding: 0;
	margin: 0;
}

.resource-product .container p{
	margin-bottom: 0.5em;
	font-size: 18px;
}
	
.resource-product .container p span{
	color:rgb(255, 89, 0);
}


.prod-community .header{
	background-color: rgb(231, 25, 57);
}

.prod-forecast .header{
		background-color: rgb(59, 110, 143);
}

.prod-economy .header{
		background-color: rgb(113, 184, 90);
}

.prod-atlases .header{
		background-color: rgb(202, 174, 1);
}

.prod-indicators .header{
		background-color: rgb(197, 193, 157);
}

.prod-filler .header{
		background-color: #53585a;
}

.sub-hero .generic a{
	color:#fff;
}


/* 							|______ LOCAL GOVERNMENT PRODUCTS _____| 

-------------------------------------------------------------------------------*/

.localgov-product{
	margin-bottom: 15px;
	padding: 0 0.46875em;
}

.localgov-product .header{
	padding: 10px 40px 0px 50px;
	
}

.localgov-product .container{
	padding: 10px 50px 20px 50px;
	background-color: #E6E6E6;
	background-repeat: no-repeat;
	background-position: right bottom;
	min-height: 110px;
}

.localgov-product .p-arrow-white{
	width: 42px;
	height: 25px;
	position: absolute;
	top: 0px;
	left: -50px;
	z-index: 1;
	background-image: url(img/icon_arrow_white.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.localgov-product h1{
	font-family: "ZurichBT-Bold";
	margin-bottom: 2px;
	margin-top: 0;
	font-weight: normal;
	border:none;
	color:#fff;
	opacity: .7;
	font-size: 1em;
	line-height: 1em;
}

.localgov-product h1.subheader{
	font-family: "ZurichBT-RomanCondensed";
	font-weight: normal;
	margin-bottom: 0;
	opacity: 1;
	position: relative;
	font-size: 30px;
}

.prod-community,
.prod-forecast,
.prod-economy,
.prod-atlases,
.prod-indicators{
	
}

.prod-community .container{
	background-image: url(img/contactBoxBg1.png);
}

.prod-forecast .container{
	background-image: url(img/contactBoxBg4.png);
}

.prod-economy .container{
	background-image: url(img/contactBoxBg3.png);
}

.prod-atlases .container{
	background-image: url(img/contactBoxBg5.png);
}

.prod-indicators .container{
	background-image: url(img/contactBoxBg3.png);
}

.prod-housing .container{
	background-image: url(img/contactBoxBg4.png);
}

.prod-consulting .container{
	background-image: url(img/contactBoxBg3.png);
}

.prod-filler{

}

.prod-filler .container{
	padding: 50px;
	background-color: #53585a;
	min-height: 230px;
}

.prod-filler .container p{
	color: #fff;
	font-size: 1.5em;
	line-height: 1.3em;
	padding: 0;
	margin: 0;
}

.localgov-product .container p{
	font-family: ZurichBT-Roman;
	margin-bottom: 0.5em;
	font-size: 18px;
}
	
.localgov-product .container p span{
	color:rgb(255, 89, 0);
}


.prod-community .header{
	background-color: rgb(231, 25, 57);
}

.prod-forecast .header{
		background-color: rgb(59, 110, 143);
}

.prod-economy .header{
		background-color: rgb(113, 184, 90);
}

.prod-atlases .header{
		background-color: rgb(202, 174, 1);
}

.prod-indicators .header{
		background-color: rgb(197, 193, 157);
}

.prod-housing .header{
		background-color: rgb(137, 203, 223);
}

.prod-consulting .header{
		background-color: rgba(255,89,0,1);
}

.prod-filler .header{
		background-color: #53585a;
}

.sub-hero .generic a{
	color:#fff;
}



/* 							|______ UTILITIES _____| 

-------------------------------------------------------------------------------*/

.scrollbox {
	overflow: auto;
	margin: 15px auto;
	position: relative;
	max-height: 475px;
	background:
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	background-attachment: local, local, scroll, scroll;
}

div.clickable {
    position: relative;
}
 
div.clickable a,
li.clickable a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}



.drop-shadow{
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 11px rgba(0,0,0,0.1);
	box-shadow: 0 0 11px rgba(0,0,0,0.1);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader{
	position: absolute;
	left: 50%;
	top: 50%;
}

.no-padding{
	padding:0;
}

.triangle-isosceles {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	color: #000;
	background: #231f20;
}

.triangle-isosceles.active:after {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 41%;
	border-width: 7px 7px 0;
	border-style: solid;
	border-color: #231f20 transparent;
	display: block;
	width: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}


.close{
	display: none;
	font-size: 54px;
	text-decoration: none;
	color: #fff;
	position: absolute;
	right:10px;
	top:20px;
	z-index: 11;
}

.close:hover{
	text-decoration: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

.animated {

	-webkit-animation-duration: 1s;
	/*-webkit-animation-delay: .5s;*/
	-webkit-animation-iteration-count: 2;
}

.pin-1 .animated {
	-webkit-animation-delay: .5s;
}

.pin-2 .animated{
	-webkit-animation-delay: .8s;
}

.pin-3 .animated{
	-webkit-animation-delay: 1s;
}

/* 							|______ ADD THIS _____| 

-------------------------------------------------------------------------------*/

.home #addThisBtns{
	position: absolute;
	top: 140px;
	right: 10px;
}

#addThisBtns{
	float: right;
	margin-top: 10px;
	margin-right: 13px;
}

.at_a11y{
	display: none;
}

.addthis_default_style .at15t_google_plusone_share {
	background-image: url(img/id_google_roll_sm.jpg);
}

.addthis_default_style .at15t_twitter {
	background-image: url(img/id_twitter_roll_sm.jpg);
}

.addthis_default_style .at15t_facebook {
	background-image: url(img/id_facebook_roll_sm.jpg);
}

.addthis_default_style .at15t_linkedin {
	background-image: url(img/id_linkdin_roll_sm.jpg);
}

.addthis_default_style .at300bs {
	background-repeat: no-repeat;
	background-position: center center;
	height: 30px;
	width: 30px;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('webfonts/flexslider-icon.eot');
	src:url('webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('webfonts/flexslider-icon.woff') format('woff'),
		url('webfonts/flexslider-icon.ttf') format('truetype'),
		url('webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {overflow: hidden; position: relative; display: none; width:100%; max-width: 930px;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 930px; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 30px; 
	background: #fff; 
	border: none; 
	position: relative; 
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 50px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}

.flex-control-nav li {
	margin: 0 6px; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}

.flex-control-paging li a {
	width: 14px; 
	height: 14px; 
	display: block; 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px; 
	border-radius: 20px; 
	border: 2px solid rgb(255,89,0);
	background: transparent;
}


.flex-control-paging li a:hover { 
	background: rgb(255, 89, 0); 
	
}

.flex-control-paging li a.flex-active { 
	background: rgb(255, 89, 0);
	cursor: default; 
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}


/*.wpb_row{
	margin-bottom: 0 !important;
}*/


