/* 							|______ MEDIA QUERIES LEAVE AT THE END !IMPORATNT _____| 

-------------------------------------------------------------------------------*/

/* Medium Displays: up to 349px */

@media only screen and (max-width: 21.813em) {

	.product-col-head span.product-short{
		display: block;
	}

	.product-col-head span.product{
		display: none;
	}

	h1.motto {
		top: 3px;
		left: 140px;
	}

	.overlay h1 {
		border: none;
		line-height: 1em;
		font-size: 2em;
		margin-bottom: 0.5em;
	}

	.overlay p {
		font-family: Arial;
		font-size: 0.8rem;
		line-height: 1rem;
		position: relative;
		color: #5e6061;
	}

}

/*experimental*/
@media (max-width: 480px){
	.column_container {
		width: 100% !important;
	}
}


/* Medium Displays: up to 641px */

@media only screen and (max-width: 40.063em) {
	.product-col-head span.id-suffix {
		display: none;
	}

	.flexslider{
		/*display: none;*/
	}

	.triangle-isosceles:after{
		display:none !important;
		margin:0;
	}

	.triangle-isosceles{
		margin:0;
	}

	.footer-menu{
		max-height: inherit;
		min-height: inherit;
	}

}

/* Medium Displays: up to 800px */

@media only screen and (max-width: 50.000em) {
	.product-col-head span.id-suffix {
		display: none;
	}

	.use-cases{
		/*display: none;*/
	}

	.use-cases-resp{
		/*display: block;*/
	}

	.contact-box-alt .contact-box-container,
	.contact-box .contact-box-container{
		min-height: 220px;
	}
}

/* Medium Displays: 320px and up */

@media only screen and (min-width: 20.063em) {
	
	.staff-member.expanded img.staff-photo{
		width:100%;
    	height:100%;
	}


	.staff-role,
	.staff-info{
		width: 100%;
		padding:10px ;
	}

	.staff-summary {
		padding-right: 0px;
	}

	.panel-links{
		width: 100%;
		padding: 10px;
		padding-left: 5px;
	}

	.panel-info > div {
		max-width: 320px;
	}

	.overlay { 
		max-width: 320px;
	}
}

/* Medium Displays: 641px and up */

@media only screen and (min-width: 40.063em) {

	h3 {
		font-size: inherit;
	}
	.staff-member.expanded img.staff-photo{
		width:100%;
    	height:100%;
    	margin-bottom: 10px;
	}

	.staff-role{
		width: 100%;
		padding:10px;
	}

	.staff-summary {
		padding-right: 0px;
	}

	.top-bar {
		background: #cccccc;
		overflow: visible;
	}
	

	.top-bar-section li a:not(.button) {
		background: #999;
		line-height: 35px;
	}
	.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
		border-right: solid 2px #ccc;
	}

	.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
		height: 35px;
	}
	.top-bar-section .dropdown li a {
		line-height: 15px;
	}

	.top-bar-section .has-dropdown > a:after {
		margin-top: -6.5px;
	}

	.panel-links{
		width: 100%;
		padding: 9px;
		padding-left: 5px;
	}

	button.tiny.custom-small-1 {
		position: relative;
		width: 10%;
		padding-right: 0;
		padding-left: 0;
		margin: 0;
		border-right: 1px solid #fff;
	}

	button.tiny.custom-small-staff {
		position: relative;
		width: 20%;
		padding-right: 0;
		padding-left: 0;
		margin: 0;
		border-right: 1px solid #fff;
	}

}

/* Medium Displays: 800px and up */

@media only screen and (min-width: 50.000em) {
	
	.staff-member.expanded img.staff-photo{
		width:200px;
	}

	.staff-role{
		width: 100%;
		padding:10px;
	}

	.staff-summary {
		padding-right: 0px;
	}

	.panel-links{
		width: 320px;
	}

	.panel-info > div {
		width: 180px;
	}
	
	button.tiny.custom-medium-1 {
		position: relative;
		width: 10%;
		padding-right: 0;
		padding-left: 0;
		margin: 0;
		border-right: 1px solid #fff;
	}

	button.tiny.custom-medium-staff {
		position: relative;
		width: 20%;
		padding-right: 0;
		padding-left: 0;
		margin: 0;
		border-right: 1px solid #fff;
	}

}

/* Large Displays: 1024px and up */

@media only screen and (min-width: 64.063em) {


	.staff-role{
		float: right;
		width: 100%;
	}

	.panel-links{
		width: 460px;
	}

	button.tiny.custom-large-1 {
		position: relative;
		width: 10%;
		padding-right: 0;
		padding-left: 0;
		margin: 0;
		border-right: 1px solid #fff;
	}

	button.tiny.custom-large-staff {
		position: relative;
		width: 20%;
		padding-right: 0;
		padding-left: 0;
		margin: 0;
		border-right: 1px solid #fff;
	}
}

/* X-Large Displays: 1441 and up */

@media only screen and (min-width: 90.063em) {
	

}

/* Apply styles to screens in landscape orientation */

@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */

@media only screen and (orientation: portrait) {}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */

	.logo-home {
		background-image: url(../img/id_banner_logo_home-condensed_x2.png);
		background-size: 594px 192px;
	}

	.id-logo{
		background-image: url(../img/id_banner_logo_id_x2.png);
		background-size: 300px 98px;
		height: 98px;
	}

	.id-logo.placemaker {
		background-image: url(../img/id_banner_logo_placemaker_x2.png);
		background-size: 317px 98px;
		height: 98px;
	}

	.id-logo.profile {
		background-image: url(../img/id_banner_logo_profile_x2.png);
		background-size: 288px 99px;
		height: 99px;
	}

	.id-logo.forecast{
		background-image: url(../img/id_banner_logo_forecast_x2.png);
		background-size: 300px 98px;
		height: 98px;
	}

	.id-logo.economy{
		background-image: url(../img/id_banner_logo_economy_x2.png);
		background-size: 288px 98px;
		height: 98px;
	}

	.id-logo.atlas{
		background-image: url(../img/id_banner_logo_atlas_x2.png);
		background-size: 250px 98px;
		height: 98px;
	}

	.id-logo.housing{
		background-image: url(../img/id_banner_logo_housing_x2.png);
		background-size: 266px 98px;
		height: 98px;
	}

}

