.animate-spin {
  -webkit-animation: rotation .7s infinite linear;
  -moz-animation: rotation .7s infinite linear;
  -o-animation: rotation .7s infinite linear;
  -ms-animation: rotation .7s infinite linear;
  animation: rotation .7s infinite linear;
  display: inline-block;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* @license
 * MyFonts Webfont Build ID 2692792, 2013-11-21T01:37:58-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Zurich Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/zurich/light/
 *
 * Webfont: Zurich Condensed by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/zurich/condensed/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2692792
 * Licensed pageviews: 100,000
 * Webfonts copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 *
 * © 2013 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'ZurichBT-Light';
  src: url('../webfonts/2916B8_0_0.eot');
  src: url('../webfonts/2916B8_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2916B8_0_0.woff') format('woff'), url('../webfonts/2916B8_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'ZurichBT-RomanCondensed';
  src: url('../webfonts/2916B8_1_0.eot');
  src: url('../webfonts/2916B8_1_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2916B8_1_0.woff') format('woff'), url('../webfonts/2916B8_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'fontello';
  src: url('../webfonts/fontello.eot?97783509');
  src: url('../webfonts/fontello.eot?97783509#iefix') format('embedded-opentype'), url('../webfonts/fontello.woff?97783509') format('woff'), url('../webfonts/fontello.ttf?97783509') format('truetype'), url('../fonts/fontello.svg?97783509#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ZurichBT-Roman { 
  font-family: ZurichBT-Roman;
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icon-linkedin:before {
  content: '\e800';
}
.icon-twitter:before {
  content: '\e802';
}
.icon-facebook:before {
  content: '\e801';
}
.icon-down-open:before {
  content: '\e806';
}
.icon-up-open:before {
  content: '\e807';
}
.icon-right-open:before {
  content: '\e804';
}
.icon-left-open:before {
  content: '\e805';
}
.icon-location:before {
  content: '\e80b';
}
.icon-left-open-mini:before {
  content: '\e80a';
}
.icon-right-open-mini:before {
  content: '\e809';
}
.icon-spin3:before {
  content: '\e808';
}
.icon-search:before {
  content: '\e803';
}
/* HTML5 Boilerplate  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input {
  font-family: Georgia, "Times New Roman", serif;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
@media only screen and (min-width: 35em) {
  
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.sixth {
  width: 120px;
}
.quarter {
  width: 220px;
}
.quarter.column-container {
  width: 240px;
  margin: 0;
}
.third {
  width: 300px;
}
.third.column-container {
  width: 320px;
  margin: 0;
}
.half {
  width: 460px;
}
.half.column-container {
  width: 480px;
  margin: 0;
}
.twothirds {
  width: 620px;
}
.twothirds.column-container {
  width: 640px;
  margin: 0;
}
.threequarters {
  width: 700px;
}
.threequarters.column-container {
  width: 720px;
  margin: 0;
}
.fivetwelfths {
  width: 360px;
}
.fivetwelfths.column-container {
  width: 380px;
  margin: 0;
}
.fivesixths {
  width: 780px;
}
.full {
  width: 940px;
  float: none;
  clear: both;
}
.container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
  *zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.safi-column {
  margin: 10px;
}
.safi-column.quarter,
.safi-column.sixth,
.safi-column.third,
.safi-column.half,
.safi-column.twothirds,
.safi-column.fivesixths,
.safi-column.fivetwelfths {
  float: left;
}
.divider {
  display: block;
  background-color: #dbd9d8;
  height: 1px;
  margin-bottom: 20px;
  overflow: hidden;
}
hr,
.bordered-top {
  border: none;
  border-top: 1px solid #386f91;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  color: #54514e;
  margin: 0;
}
::-moz-selection {
  background: #f05c1f;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #f05c1f;
  color: #fff;
  text-shadow: none;
}
a {
  -moz-transition: color 200ms linear;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
a,
a:visited {
  color: #f05c1f;
  text-decoration: none;
}
a:hover {
  color: #f05c1f;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
a.arrow-link {
  font-family: 'ZurichBT-Light', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #54514e;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
a.arrow-link:hover {
  text-decoration: none;
  color: #54514e;
}
a.arrow-link:hover span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
a.arrow-link span {
  border-bottom: 1px solid #54514e;
}
h2 em,
h3 em,
h4 em,
h5 em,
h6 em,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: normal;
  font-style: normal;
}
h2.with-sub,
h3.with-sub,
h4.with-sub,
h5.with-sub,
h6.with-sub {
  margin-bottom: 0;
}
b,
strong,
p b,
p strong {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0 0 20px;
}
ul,
ol {
  padding: 0 0 0 20px;
}
h1 {
  font-family: ZurichBT-Roman;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
  font-size: 53px;
  line-height: 64px;
  color: #4b423b;
  margin: 0 0 20px;
  border:none;
}
h2 {
  font-family: 'ZurichBT-Light', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 38px;
  line-height: 42px;
  color: #386f91;
}
h3 {
  font-family: ZurichBT-Roman;
  font-weight: 400;
  font-style: normal;
  color: #386f91;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 30px;
}
h3 a:hover {
  text-decoration: none;
}
h4 {
  font-family: 'ZurichBT-RomanCondensed', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 35px;
  color: #4b423b;
}
h5 {
  font-family: 'ZurichBT-Light', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #54514e;
  background-color: transparent;
}
h5 strong {
  font-weight: bold;
}
h6,
.date {
  font-family: 'ZurichBT-Light', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #54514e;
}
#logo {
  margin: 29px 10px 10px;
  padding: 0;
  width: 205px;
  height: 102px;
  float: left;
  text-indent: -9999px;
  background-position: right 0;
}
.section {
  min-width: 980px;
  overflow: hidden;
}
.safi-header-container {
  *zoom: 1;
  background: url(/img/bg-body.gif);
  background-repeat: repeat-x;
  text-align: center;
}
.safi-header-container:before,
.safi-header-container:after {
  content: "";
  display: table;
}
.safi-header-container:after {
  clear: both;
}
.safi-header-container #header {
  *zoom: 1;
  position: relative;
  padding: 20px 0 0 6px;
  z-index: 2;
  width: 955px;
  margin: 0 auto;
}
.safi-header-container #header:before,
.safi-header-container #header:after {
  content: "";
  display: table;
}
.safi-header-container #header:after {
  clear: both;
}
.safi-header-container #header:after {
  content: "";
  clear: both;
  display: block;
}
.safi-header-container .logo {
  float: left;
  width: 157px;
  height: 69px;
  background-image: url(/img/icons/2012-logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 2;
  position: relative;
  top: 20px;
}
.safi-header-container .logo a {
  float: left;
  width: 157px;
  height: 69px;
}
.safi-header-container .login-link {
  position: absolute;
  background: #d14c32;
  outline: none;
  top: 10px;
  right: 0;
  padding: 0 21px 2px;
  font: bold 11px/18px Arial, Helvetica, sans-serif;
  color: #fff;
}
.safi-header-container #nav {
  float: right;
  display: inline;
  position: relative;
  margin: 63px 0px 0 0;
  font-weight: bold;
  line-height: 36px;
  padding: 0;
  list-style: none;
  z-index: 2;
}
.safi-header-container #nav li {
  float: left;
  padding: 0 0 0 1px;
}
.safi-header-container #nav li a {
  float: left;
  padding: 0 7px 6px;
  color: #4d4847;
  text-decoration: none !important;
}
.safi-header-container #nav li.selected a,
.safi-header-container #nav li a:hover {
  color: #231f20;
  background: url(/img/bg-nav-hover.gif) repeat-x;
}
.safi-footer-container {
  *zoom: 1;
  background-color: #13110E;
  text-align: center;
  font: bold 11px/14px Arial, Helvetica, sans-serif;
}
.safi-footer-container:before,
.safi-footer-container:after {
  content: "";
  display: table;
}
.safi-footer-container:after {
  clear: both;
}
.safi-footer-container #footer {
  *zoom: 1;
  margin: 0 auto;
  text-align: left;
  width: 960px;
  overflow: hidden;
  background: #13110e;
  color: #a2977c;
}
.safi-footer-container #footer:before,
.safi-footer-container #footer:after {
  content: "";
  display: table;
}
.safi-footer-container #footer:after {
  clear: both;
}
.safi-footer-container .box {
  height: 1%;
  overflow: hidden;
  padding: 3px 22px 19px;
  line-height: 22px;
  color: #827963;
  font-weight: normal;
  background: #201f1b url(/img/bg-foot-box.gif) repeat-x;
  width: 920px;
  margin: 0 auto;
  text-align: left;
}
.safi-footer-container .box ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.safi-footer-container .box ul li {
  float: left;
  padding: 0 11px 0 0;
}
.safi-footer-container .box ul a {
  float: left;
}
.safi-footer-container .box a {
  color: #fff1cf;
}
.safi-footer-container .box-wrapper {
  background: #201f1b url(/img/bg-foot-box.gif) repeat-x;
  text-align: center;
}
.safi-footer-container .design {
  float: right;
  padding: 0 0 0 16px;
  background: url(/img/ico01.gif) no-repeat 0 5px;
}
.safi-footer-container .design a {
  font-weight: bold;
}
.safi-footer-container .twitter {
  background: url(/img/ico03.gif) no-repeat 0 4px;
  padding: 0 0 0 15px;
}
.safi-footer-container .rss {
  background: url(/img/ico02.gif) no-repeat 0 5px;
  padding: 0 0 0 18px;
}
.safi-footer-container .holder {
  margin: 0 auto;
  width: 960px;
  padding: 0 0 39px;
  color: #5f594c;
  font-weight: normal;
  overflow: hidden;
  text-align: left;
}
.safi-footer-container .holder h3 {
  margin: 0 0 17px;
  font: bold 13px/15px Arial, Helvetica, sans-serif;
}
.safi-footer-container .holder h3 a {
  color: #5f594c;
}
.safi-footer-container .holder .col {
  float: left;
  width: 138px;
  padding: 0 0 0 21px;
}
.safi-footer-container .holder ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.safi-footer-container .holder ul li {
  background: url(/img/bull01.gif) no-repeat 1px 4px;
  padding: 0 0 4px 10px;
}
.safi-footer-container .holder ul a {
  color: #e5d5b3;
  text-decoration: none !important;
}
.safi-footer-container .holder ul a:hover {
  color: #fff;
}
.safi-footer-container .section {
  height: 1%;
  overflow: hidden;
  padding: 25px 0 67px 23px;
}
.safi-footer-container .section h3 {
  margin: 0 0 13px;
  color: #5f594c;
  font: bold 17px/24px Arial, Helvetica, sans-serif;
}
.safi-footer-container .contact-col {
  float: left;
  width: 290px;
  padding: 0 30px 0 0;
}
.safi-footer-container .contact-col .phone {
  display: block;
  color: #8c836d;
  font-size: 23px;
  padding: 3px 0 5px;
  width: 100%;
  overflow: hidden;
  line-height: 25px;
}
.safi-footer-container .contact-col .freecall span,
.safi-footer-container .contact-col .phone span {
  color: #fff1cf;
}
.safi-footer-container .contact-col .freecall {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0 0 3px;
  font-size: 13px;
  color: #666052;
  font-style: normal;
}
.safi-footer-container .contact-col a {
  color: #d14c32;
  font-size: 23px;
  line-height: 25px;
}
.safi-footer-container .contact-col address {
  display: block;
  margin: 15px 0 0;
  color: #e1d9c6;
  font: bold 13px/15px Arial, Helvetica, sans-serif;
}
.safi-footer-container .newsletter-col {
  float: left;
  width: 275px;
}
.safi-footer-container .newsletter-col strong {
  display: block;
  color: #fff1cf;
  font: bold 15px/19px Arial, Helvetica, sans-serif;
}
.safi-footer-container .newsletter-col p {
  padding-bottom: 15px;
  margin: 7px 0 0;
}
.safi-footer-container .btn-sign-up {
  display: block;
  outline: none;
  background: url(/img/btn.gif) repeat-x;
  text-align: center;
  text-decoration: none !important;
  color: #191713;
  width: 179px;
  margin: 5px 0 0;
  padding: 0 5px;
  font: bold 13px/35px Arial, Helvetica, sans-serif;
}
.safi-footer-container .btn-sign-up span {
  cursor: pointer;
  color: #fff;
}
.safi-footer-container .btn-sign-up:hover {
  background: url(/img/btn-h.gif) repeat-x;
}
.safi-footer-container .btn-sign-up:hover span {
  color: #d14c32;
}
.safi-footer-container .twitter-col {
  float: right;
  width: 322px;
}
.safi-footer-container .twitter-col h3 {
  padding: 0 0 0 22px;
  margin: 0 0 14px 25px !important;
  background: url(/img/ico04.gif) no-repeat 0 2px;
}
.safi-footer-container .twitter-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 15px;
  width: 100%;
  overflow: hidden;
}
.safi-footer-container .twitter-col li {
  float: left;
  width: 125px;
  padding: 0 13px 0 23px;
}
.safi-footer-container .twitter-col .date {
  display: block;
  margin: 7px 0 0;
  font: bold 11px/12px Arial, Helvetica, sans-serif;
  color: #666052;
}
.safi-footer-container .twitter-col a {
  color: #a2977c;
  text-decoration: none !important;
}
.safi-footer-container .twitter-col a:hover {
  color: #fff;
}
.safi-footer-container #sidebar {
  float: left;
  width: 221px;
  margin: 45px 0 0;
  padding: 0 0 0 24px;
}
.safi-footer-container #sidebar.no-title {
  margin: 127px 0 0;
}
.safi-footer-container #sidebar h1 {
  margin: 0 0px 49px 0;
  width: 280px;
  overflow: hidden;
  color: #2a2823;
  font: bold 32px/36px Arial, Helvetica, sans-serif;
}
.safi-footer-container .subnav {
  *zoom: 1;
  width: 100%;
  margin: 0 0 49px;
}
.safi-footer-container .subnav:before,
.safi-footer-container .subnav:after {
  content: "";
  display: table;
}
.safi-footer-container .subnav:after {
  clear: both;
}
.safi-footer-container .subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.safi-footer-container .subnav ul li {
  float: left;
  border-bottom: 1px solid #e1e2e2;
  width: 100%;
}
.safi-footer-container .subnav ul li ul.tertiaryNav {
  padding-left: 15px;
}
.safi-footer-container .subnav ul li ul.tertiaryNav li a {
  background: none;
  color: #D14C32;
  font-weight: normal;
}
.safi-footer-container .subnav ul li ul.tertiaryNav li.selected a,
.safi-footer-container .subnav ul li ul.tertiaryNav li a:hover {
  background: url(/img/bull02.gif) no-repeat 0 6px;
  color: #34312c;
}
.safi-footer-container .subnav ul li ul li {
  border-bottom: none;
  width: 205px;
}
.safi-footer-container .subnav ul a {
  float: left;
  color: #d14c32;
  display: inline;
  padding: 0 0 1px 13px;
  margin: 0 0 0 -13px;
  position: relative;
  text-decoration: none !important;
}
.safi-footer-container .subnav ul li.selected a,
.safi-footer-container .subnav ul a:hover {
  background: url(/img/bull02.gif) no-repeat 0 6px;
  color: #34312c;
}
.safi-footer-container .btn-download {
  width: 178px;
  color: #fff;
  text-decoration: none !important;
  height: 41px;
  margin: 16px 0 0;
  font: bold 13px/40px Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding: 0 5px 0 38px;
  display: block;
  background: url(/img/bg-global.gif) no-repeat 0 -235px;
}
.safi-footer-container .link-box {
  width: 100%;
  overflow: hidden;
  margin: 0 0 7px;
}
.safi-footer-container .link-box a {
  height: 1%;
  display: block;
  text-decoration: none !important;
  overflow: hidden;
  background: #23221e;
  color: #8f8777;
  padding: 0 22px 25px;
  font: bold 17px/17px Arial, Helvetica, sans-serif;
}
.safi-footer-container .link-box a.hover,
.safi-footer-container .link-box a:hover {
  background: #e2dac9;
  color: #23221e;
}
.safi-footer-container .link-box a.hover strong,
.safi-footer-container .link-box a:hover strong {
  color: #827c6f;
}
.safi-footer-container .link-box a.hover em,
.safi-footer-container .link-box a:hover em {
  color: #d34d32 !important;
}
.safi-footer-container .link-box span {
  display: block;
  cursor: pointer;
  margin: 22px 0 0;
}
.safi-footer-container .link-box em {
  color: #d34d32 !important;
  display: block;
  cursor: pointer;
  margin: 13px 0 0;
  font-style: normal;
}
.safi-footer-container .link-box em strong {
  display: inline;
}
.safi-footer-container .link-box img {
  display: block;
  margin: 0 -22px 20px;
  position: relative;
}
.safi-footer-container .link-box strong {
  display: block;
  color: #fff;
  margin: 0 0 -9px;
}
.safi-footer-container .red-box img {
  margin-bottom: 20px;
}
.safi-footer-container .red-box a {
  color: #fff1d4 !important;
  background: #d34d32;
}
.safi-footer-container .red-box a:hover {
  background: #231f20;
}
.safi-footer-container .red-box em {
  color: #e2dac9 !important;
}
.safi-section {
  *zoom: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}
.safi-section:before,
.safi-section:after {
  content: "";
  display: table;
}
.safi-section:after {
  clear: both;
}
.safi-section a,
.safi-section a:visited {
  text-decoration: underline;
}
.safi-section a:hover,
.safi-section a:visited:hover {
  text-decoration: none;
}
.safi-section a.btt {
  position: absolute;
  bottom: 0;
  padding:0;
  left: 50%;
  margin: 0;
  margin-left: -90px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 11px;
  line-height: 30px;
  border-bottom: 0;
  z-index: 30;
  height: 30px;
  width: 180px;
  text-align: center;
  background-color: #3a6e8f;
  color: #FFFFFF;
  text-decoration: none;
}
.safi-section a.btt.white {
  background-color: #FFFFFF;
  color: #386f91;
}
.safi-banner {
  background-image: url(../img/safi/banner-1.jpg);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 430px;
  margin: 0 auto;
  background-color: #000000;
  text-align: center;
}
.safi-banner .container {
  text-align: center;
  color: #FFFFFF;
}
.safi-banner .container h1 {
  color: #FFFFFF;
  position: relative;
  left: 0px;
  padding-top: 118px;
}
.title-container {
  padding-top: 20px;

}
.title-container h2 {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #386f91;
}
.full-title {
  width: 100%;
  overflow: hidden;
}
.full-title .title-container {
  overflow: visible;
}
.full-title .title-container,
.full-title .title-container .safi-column {
  margin-bottom: 0;
}
.full-title .title-container h2 {
  width: 300%;
  margin-bottom: 0;
}
.safi-intro .title-container h2 {
  border-bottom: 1px solid #cacbcd;
}
.safi-menu {
  position: relative;
  overflow: hidden;
  min-height: 890px;
  padding-top: 20px;
}
.safi-menu .menu {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  -moz-transition: all linear 200ms;
  -webkit-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
.safi-menu .menu a {
  display: block;
  color: #54514e;
  -moz-transition: color linear 0;
  -webkit-transition: color linear 0;
  -o-transition: color linear 0;
  transition: color linear 0;
  border-bottom: 1px solid #cacbcd;
  position: relative;
}
.safi-menu .menu a:last-child {
  border: 0;
}
.safi-menu .menu a,
.safi-menu .menu a:active,
.safi-menu .menu a:hover,
.safi-menu .menu a:visited,
.safi-menu .menu a:focus {
  outline: none;
  text-decoration: none;
}
.safi-menu .menu a span {
  display: block;
}
.safi-menu .menu a span.menu-item-bg {
  -moz-transition: opacity linear 200ms;
  -webkit-transition: opacity linear 200ms;
  -o-transition: opacity linear 200ms;
  transition: opacity linear 200ms;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #f6f6f6 0%, rgba(255, 255, 255, 0) 60%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f6f6f6), color-stop(60%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, #f6f6f6 0%, rgba(255, 255, 255, 0) 60%);
  background: -o-linear-gradient(left, #f6f6f6 0%, rgba(255, 255, 255, 0) 60%);
  background: -ms-linear-gradient(left, #f6f6f6 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(to right, #f6f6f6 0%, rgba(255, 255, 255, 0) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#00ffffff', GradientType=1);
}
.safi-menu .menu a span.menu-item-container {
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 177px;
  padding: 24px 45px 0;
  background-position: right center;
  background-repeat: no-repeat;
  position: relative;
}
.safi-menu .menu a span.menu-item-container:before {
  -moz-transition: left cubic-bezier(0.55, 0.085, 0.68, 0.53) 200ms;
  -webkit-transition: left cubic-bezier(0.55, 0.085, 0.68, 0.53) 200ms;
  -o-transition: left cubic-bezier(0.55, 0.085, 0.68, 0.53) 200ms;
  transition: left cubic-bezier(0.55, 0.085, 0.68, 0.53) 200ms;
  position: absolute;
  top: 25px;
  left: 0;
  width: 24px;
  height: 31px;
  content: "";
  background-image: url(../img/safi/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
}
.safi-menu .menu a span.description,
.safi-menu .menu a span.title {
  clear: both;
  *zoom: 1;
  width: 300px;
}
.safi-menu .menu a span.description:before,
.safi-menu .menu a span.title:before,
.safi-menu .menu a span.description:after,
.safi-menu .menu a span.title:after {
  content: "";
  display: table;
}
.safi-menu .menu a span.description:after,
.safi-menu .menu a span.title:after {
  clear: both;
}
.safi-menu .menu a span.title {
  font-family: 'ZurichBT-RomanCondensed', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}
.safi-menu .menu a span.description {
  font-size: 14px;
  line-height: 22px;
  color: #54514e;
}
.safi-menu .menu a.location .menu-item-container {
  background-image: url(../img/safi/menu-item-insights.png);
  margin-right: 60px;
}
.safi-menu .menu a.platform .menu-item-container {
  background-image: url(../img/safi/menu-item-experts.png);
  margin-right: 40px;
}
.safi-menu .menu a.who .menu-item-container {
  background-image: url(../img/safi/menu-item-placemaker.png);
  margin-right: 15px;
}
.safi-menu .menu a.clients .menu-item-container {
  background-image: url(../img/safi/menu-item-clients.png);
  margin-right: 40px;
}
.safi-menu .menu a.contact .menu-item-container {
  background-image: url(../img/safi/menu-item-contact.png);
  margin-right: 30px;
}
.safi-menu .menu a:hover span.title {
  color: #000000;
}
.safi-menu .menu a:hover span.description {
  color: #54514e;
}
.safi-menu .menu a:hover span.menu-item-bg {
  opacity: 1;
}
.safi-menu .menu a:hover span.menu-item-container {
  padding-left: 66px;
}
.safi-menu .menu a:hover span.menu-item-container:before {
  left: 22px;
}
.safi-location {
  background-color: #3a6e8f;
  padding-bottom: 60px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNmU4ZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzNhNmU4ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTZlOGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(58,110,143,0) 0%, rgba(58,110,143,1) 20%, rgba(58,110,143,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,110,143,0)), color-stop(20%,rgba(58,110,143,1)), color-stop(100%,rgba(58,110,143,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(58,110,143,0) 0%,rgba(58,110,143,1) 20%,rgba(58,110,143,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(58,110,143,0) 0%,rgba(58,110,143,1) 20%,rgba(58,110,143,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(58,110,143,0) 0%,rgba(58,110,143,1) 20%,rgba(58,110,143,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(58,110,143,0) 0%,rgba(58,110,143,1) 20%,rgba(58,110,143,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a6e8f', endColorstr='#3a6e8f',GradientType=0 ); /* IE6-8 */

}

.lt-ie9 .safi-location{
  background-color: #3A6E8F;
}



.safi-gallery-container{
  position: relative;
  z-index: 0;
}

.safi-gallery-container .top-shadow{
  position: absolute;
top: 0;
left: -100px;
height: 170px;
width: 120%;
z-index: 8;
-webkit-box-shadow: inset 0px 118px 120px -50px rgba(0, 21, 34, 0.4);
-moz-box-shadow: inset 0px 118px 120px -50px rgba(0, 21, 34, 0.4);
box-shadow: inset 0px 118px 120px -50px rgba(0, 21, 34, 0.4);
}

.safi-gallery-container .slideshow img{
  width: 100% !important;
}

.safi-gallery-overlay{
  display: none;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNmU4ZiIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNmU4ZiIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(58,110,143,0.7) 0%, rgba(58,110,143,0.7) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,110,143,0.7)), color-stop(100%,rgba(58,110,143,0.7))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(58,110,143,0.7) 0%,rgba(58,110,143,0.7) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(58,110,143,0.7) 0%,rgba(58,110,143,0.7) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(58,110,143,0.7) 0%,rgba(58,110,143,0.7) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(58,110,143,0.7) 0%,rgba(58,110,143,0.7) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b33a6e8f', endColorstr='#b33a6e8f',GradientType=0 ); /* IE6-8 */
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.safi-gallery-overlay.activated{
}

.safi-gallery-content{
  position: relative;
  z-index: 1;
}

.safi-gallery-content p{
  font-size: 16px !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.safi-location,
.safi-location h1,
.safi-location h2,
.safi-location h3,
.safi-location h4,
.safi-location h5,
.safi-location h6,
.safi-location ul,
.safi-location ol,
.safi-location p,
.safi-population-experts h2,
.safi-population-experts h3,
.safi-population-experts p {
  color: #FFFFFF;
}
.safi-location p {
  font-size: inherit;
  font-weight: inherit;
}

.safi-population-experts p{
  color:#B8B8B8;
  font-size: 16px;
}

.safi-population-experts h3{
  font-family: 'ZurichBT-RomanCondensed', Arial, sans-serif;
  font-size: 32px;
}

.safi-location a:hover,
.safi-location a:visited,
.safi-location a {
  color: #FFFFFF;
}
.safi-location .animation-container {
  *zoom: 1;
  position: relative;
  min-height: 580px;
}
.safi-location .animation-container:before,
.safi-location .animation-container:after {
  content: "";
  display: table;
}
.safi-location .animation-container:after {
  clear: both;
}
.safi-location .title-container h2,
.safi-population-experts h2{
  border-color: #FFFFFF;
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.animation {
  *zoom: 1;
  -moz-transition: left 200ms ease-in;
  -webkit-transition: left 200ms ease-in;
  -o-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
  width: 60%;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  height: 100%;
  overflow: visible;
}
.animation:before,
.animation:after {
  content: "";
  display: table;
}
.animation:after {
  clear: both;
}
.animation .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 267px;
  font-size: 14px;
  line-height: 18px;
}
.animation .line {
  background-image: url(../img/placemaker/line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 117px;
  height: 26px;
  position: absolute;
  top: 10px;
  right: 0;
}
.animation .text-1 {
  top: 30px;
}
.animation .text-2 {
  top: 201px;
  width: 237px;
}
.animation .text-3 {
  top: 355px;
  width: 234px;
}
.animation .layers {
  float: left;
  margin-left: 168px;
  width: 600px;
  height: 665px;
  position: relative;
  top: -48px;
}
.animation .layer {
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 621px;
  height: 360px;
  position: absolute;
  left: 0;
  top: 0;
}
.animation .layer-1 {
  background-image: url(../img/placemaker/layer-1.png);
  top: 300px;
}
.animation .layer-2 {
  background-image: url(../img/placemaker/layer-2.png);
  top: 150px;
}
.animation .layer-3 {
  background-image: url(../img/placemaker/layer-3.png);
  top: 0;
}
.animation-waiting .text {
  opacity: 0;
}
.animation-waiting .layer {
  -moz-transform: translateX(621px);
  -webkit-transform: translateX(621px);
  -o-transform: translateX(621px);
  -ms-transform: translateX(621px);
  transform: translateX(621px);
}
.animation-active .text {
  animation: text 2s;
  -webkit-animation: text 2s;
}
.animation-active .layer-1 {
  animation: layer-1 3s;
  -webkit-animation: layer-1 3s;
}
.animation-active .layer-2 {
  animation: layer-2 3s;
  -webkit-animation: layer-2 3s;
}
.animation-active .layer-3 {
  animation: layer-3 3s;
  -webkit-animation: layer-3 3s;
}
@keyframes text {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes layer-1 {
  0% {
    -moz-transform: translate(621px, -150px);
    -webkit-transform: translate(621px, -150px);
    -o-transform: translate(621px, -150px);
    -ms-transform: translate(621px, -150px);
    transform: translate(621px, -150px);
  }
  15% {
    -moz-transform: translate(0, -150px);
    -webkit-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    transform: translate(0, -150px);
  }
  20% {
    -moz-transform: translate(0, -150px);
    -webkit-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    transform: translate(0, -150px);
  }
  50% {
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes layer-2 {
  0% {
    -moz-transform: translate(621px, 0);
    -webkit-transform: translate(621px, 0);
    -o-transform: translate(621px, 0);
    -ms-transform: translate(621px, 0);
    transform: translate(621px, 0);
  }
  15% {
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes layer-3 {
  0% {
    -moz-transform: translate(621px, 150px);
    -webkit-transform: translate(621px, 150px);
    -o-transform: translate(621px, 150px);
    -ms-transform: translate(621px, 150px);
    transform: translate(621px, 150px);
  }
  15% {
    -moz-transform: translate(0, 150px);
    -webkit-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  20% {
    -moz-transform: translate(0, 150px);
    -webkit-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  50% {
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes layer-1 {
  0% {
    -webkit-transform: translate(621px, -150px);
  }
  15% {
    -webkit-transform: translate(0, -150px);
  }
  20% {
    -webkit-transform: translate(0, -150px);
  }
  50% {
    -webkit-transform: translate(0, 0);
  }
}
@-webkit-keyframes layer-2 {
  0% {
    -webkit-transform: translate(621px, 0);
  }
  15% {
    -webkit-transform: translate(0, 0);
  }
}
@-webkit-keyframes layer-3 {
  0% {
    -webkit-transform: translate(621px, 150px);
  }
  15% {
    -webkit-transform: translate(0, 150px);
  }
  20% {
    -webkit-transform: translate(0, 150px);
  }
  50% {
    -webkit-transform: translate(0, 0);
  }
}

.feature7{
  display: none;
}

.pull-out-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background-color: #3a6e8f;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}

.pull-out-box p,
.pull-out-box a{
  color:#fff;
  margin-bottom: 0;
}

.pull-out-box .box-inner {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 24px 26px;
}
.pull-out-box .box-inner:before {
  content: "";
  width: 20px;
  height: 19px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../img/placemaker/box-arrow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.pull-out-box.vid-box .box-inner {
  padding: 15px 26px;
}

.quote{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.safi-quote {
  *zoom: 1;
  background-image: url(../img/placemaker/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 458px;
  background-color: #000000;
}

.ivan-quote{
  *zoom: 1;
  background-size: 100% auto;
  height: 458px;
  background-color: #d5dfe5;
  
}

.ivan-quote .quote h3,
.ivan-quote .quote h5{
  color:#3a6e8f;
}

.safi-population-experts {
  *zoom: 1;
  background-image: url(../img/safi/ivan-quote.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 716px;
  background-color: #000000;
}

.safi-quote:before,
.safi-quote:after {
  content: "";
  display: table;
}
.safi-quote:after {
  clear: both;
}
.safi-quote.patrick-quote {
  background-image: url(../img/safi/quote-marks.jpg);
}
.quote {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  padding-top: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.quote h3,
.quote h5 {
  color: #FFFFFF;
}
.quote h3 {
  position: relative;
  padding: 5px 90px;
  font-size: 34px;
  line-height: 37px;
}
.quote .quote-left,
.quote .quote-right {
  position: absolute;
  width: 64px;
  height: 64px;
  text-indent: -9999px;
  background-image: url(../img/placemaker/quotes.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.quote .quote-left.quote-blue,
.quote .quote-right.quote-blue {
  background-image: url(../img/safi/quote-blue.png);
}

.quote .quote-left {
  top: 0;
  left: 0;
}
.quote .quote-right {
  background-position: right bottom;
  bottom: 0;
  right: 0;
}
.safi-platform {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  margin-top: -200px;
  padding-bottom: 20px;
}

.safi-placemaker {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  padding-bottom: 80px;
}

.safi-platform .platform-feature,
.safi-placemaker .platform-feature {
  position: absolute;
  right: 0;
  top: 20px;
}
.safi-platform .platform-boxes,
.safi-placemaker .platform-boxes {
  padding: 40px 0 40px;
}
.safi-platform .icon-box,
.safi-placemaker .icon-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 40px 20px 20px;
  text-align: center;
  height: 519px;
  font-size: 16px;
  line-height: 22px;
}
.safi-platform .icon-box img,
.safi-placemaker .icon-box img {
  margin: 10px auto 30px;
}
.safi-platform .icon-box p,
.safi-placemaker .icon-box p {
  text-align: center;
  padding: 0 15px;
}
.safi-quotes {
  background-color: #000000;
  height: 457px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.safi-quotes .scroller {
  width: 100%;
}
.safi-quotes .container {
  width: 9000px;
  position: relative;
}
.safi-quotes .slide {
  float: left;
  text-align: center;
  height: 457px;
  overflow: hidden;
  background-position: center;
}
.safi-quotes .quote {
  height: 457px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.safi-quotes .quote-1 {
  background-image: url(../img/placemaker/quote-1.jpg);
}
.safi-quotes .quote-2 {
  background-image: url(../img/placemaker/quote-bg.jpg);
}
.safi-quotes .quote-3 {
  background-image: url(../img/placemaker/quote-bg.jpg);
}
.safi-quotes .quote-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
}
.safi-quotes .quote-dots ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.safi-quotes .quote-dots li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 10px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.safi-quotes .quote-dots li a {
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  border: 4px solid #FFFFFF;
  width: 21px;
  height: 21px;
  background-color: transparent;
}
.safi-quotes .quote-dots li.active a,
.safi-quotes .quote-dots li a:hover {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.safi-case-studies {
  min-height: 580px;
}

.safi-case-studies ul{
  list-style-type: none;
}

.safi-case-studies ul li {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 44px;
}

.safi-case-studies .case-studies-container {
  padding: 20px 0 40px;
}
.safi-case-studies .case-studies-container .safi-column {
  margin: 0 10px;
}
.safi-case-studies span.case-study,
.safi-case-studies a.case-study {
  *zoom: 1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #e8e8e9;
  overflow: hidden;
  display: block;
  clear: both;
  padding-bottom: 20px;
  margin: 0 0 20px 0;
}
.safi-case-studies span.case-study:before,
.safi-case-studies a.case-study:before,
.safi-case-studies span.case-study:after,
.safi-case-studies a.case-study:after {
  content: "";
  display: table;
}
.safi-case-studies span.case-study:after,
.safi-case-studies a.case-study:after {
  clear: both;
}
.safi-case-studies span.case-study img,
.safi-case-studies a.case-study img {
  display: block;
  clear: both;
  margin-bottom: 20px;
}
.safi-case-studies span.case-study span,
.safi-case-studies a.case-study span {
  display: block;
  margin: 0 30px 10px;
}
.safi-case-studies span.case-study span.link,
.safi-case-studies a.case-study span.link {
  margin: 0 30px 0;
  color: #386f91;
  font-weight: bold;
  font-size: 14px;
}
.safi-case-studies span.case-study span.description,
.safi-case-studies a.case-study span.description {
  font-size: 14px;
}
.safi-case-studies span.case-study span.title,
.safi-case-studies a.case-study span.title {
  font-family: 'ZurichBT-RomanCondensed', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.safi-case-studies span.case-study,
.safi-case-studies a.case-study,
.safi-case-studies span.case-study:visited,
.safi-case-studies a.case-study:visited {
  color: #54514e;
  text-decoration: none;
}
.safi-case-studies span.case-study:hover,
.safi-case-studies a.case-study:hover {
  text-decoration: none;
}
.safi-case-studies span.case-study:hover span.link,
.safi-case-studies a.case-study:hover span.link {
  text-decoration: underline;
}
.safi-case-studies .twothirds span.case-study img,
.safi-case-studies .twothirds a.case-study img {
  float: left;
}
.safi-case-studies .twothirds span.case-study span,
.safi-case-studies .twothirds a.case-study span {
  margin-left: 232px;
}
.safi-case-studies .twothirds span.case-study span.title,
.safi-case-studies .twothirds a.case-study span.title {
  margin-top: 30px;
}
.safi-contact {
  background-image: url(../img/placemaker/contact-bg.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 568px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 78px;
}
.safi-contact .container {
  padding-top: 10px;
}
.safi-contact .container .safi-column {
  *zoom: 1;
  background-color: #FFFFFF;
}
.safi-contact .container .safi-column:before,
.safi-contact .container .safi-column:after {
  content: "";
  display: table;
}
.safi-contact .container .safi-column:after {
  clear: both;
}
.safi-contact .contact-left,
.safi-contact .contact-right {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 40px;
  min-height: 365px;
  width: 475px;
  background-image: url(../img/placemaker/contact-arrow.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
}

*:before, *:after {
-moz-box-sizing: initial;
-webkit-box-sizing: initial;
box-sizing: initial;
}
.safi-contact h3 {
  margin-bottom: 15px;
}
.safi-contact p {
  font-size: 18px;
  line-height: 22px;
}
.safi-contact .contact-email,
.safi-contact .contact-call {
  font-size: 14px;
}
.safi-contact .contact-call {
  float: left;
  width: 220px;
  clear: left;
}
.safi-contact .contact-email {
  float: left;
  clear: right;
}
.safi-contact .contact-left {
  background-color: #FFFFFF;
  float: left;
  width: 430px;
}
.safi-contact .contact-right {
  float: right;
  background-color: #F2F2F2;
}
.safi-contact .errors {
  color: #FF0000;
}
.standard-form input {
  appearance: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: 41px;
  border: 0;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 22px;
  padding: 11px;
}
.standard-form .hs_submit input.hs-button {
  background-color: #3a6e8f;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}
.popup-overlay,
.overlay-close-pane {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000000;
  cursor: pointer;
}
.popup-overlay {
  z-index: 300;
  display: none;
}
.overlay-close-pane {
  z-index: 302;
  display: block;
}
.popup-container {
  display: none;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 11301;
  height: 100%;
  opacity: 0;
}
.popup-wrapper {
  margin: 0px auto;
  position: relative;
  z-index: 303;
  padding: 0px;
  background-color: #000000;
  width: 940px;
}
.popup-window {
  position: relative;
  z-index: 303;
  text-align: left;
  clear: both;
}
.popup-iframe-container .popup-wrapper {
  margin: 0px auto;
  position: fixed;
  z-index: 303;
  padding: 0px;
  background-color: #191919;
  width: 845px;
  margin-left: -415px;
  left: 50%;
}
.popup-iframe-container .popup-window {
  padding: 20px 20px 25px;
  width: 805px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.popup-iframe-container a#popup-close {
  text-indent: 9999px;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/placemaker/vid-close.png);
  overflow: hidden;
}
a#popup-close {
  display: block;
  clear: both;
  color: 000000;
  z-index: 5;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  line-height: 16px;
  height: 24px;
}
.popup-window-content {
  overflow: hidden;
  position: relative;
  background-color: #191919;
  padding: 40px 0 0;
}
.popup-window-content iframe {
  display: block;
}

.main-footer h4{
  margin-bottom: 0;
}

.main-footer ul{
  padding:0;
}

.main-footer a{
  color: #444;
  text-decoration: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;

}

.main-footer a:hover{
  color: #f26722;
}

.placemaker-header{
  background-color: rgb(255, 255, 255);
  margin-bottom: 25px;
}

.placemaker-header .id-logo{
  width:960px;
  margin:0 auto;
}

.id-logo {
  background-size: 311px 168px;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 168px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.id-logo.safi {
  background-image: url(../img/safi/logo-id-safi.png);
  background-size: 311px 168px;
}

.id-logo.safi a {
  display: block;
  width: 312px;
  height: 168px;
  text-decoration: none;
}

.lt-ie9 .id-logo.safi{
  background-color: #fff;
  height: 168px;
  padding-top: 35px;
  margin-top: 35px;
}

button.safi{
  background-color: #3a6e8f;
  
}

button.safi a{
  color:#fff;
  text-decoration: none;
}





.lt-ie9 .safi-menu .menu a span.menu-item-bg {
  filter: alpha(opacity=00);
}
.lt-ie9 .animation .line {
  background-image: url(../img/placemaker/line.gif);
}
.lt-ie9 .animation-waiting .layer {
  -ms-transform: translate(0, 0) !important;
}

.hs-form-required{
  display: none;
}

.ticker{
  z-index: 9;
  margin: 0 auto;
  width: 960px;
  text-align: left;
  position: absolute;
  top: 58px;
  left: 50%;
  margin-left: -470px;
}

.ticker h3{
  color:#fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-bottom: 5px;
  font-size: 24px;
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
}

.dummy-slide{
  position: absolute;
  width: 100% !important;
  opacity: 0.9;
}

.odometer-value{

}

.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 4s;
  -moz-transition: -moz-transform 4s;
  -ms-transition: -ms-transform 4s;
  -o-transition: -o-transform 4s;
  transition: transform 4s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 4s;
  -moz-transition: -moz-transform 4s;
  -ms-transition: -ms-transform 4s;
  -o-transition: -o-transform 4s;
  transition: transform 4s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.odometer{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:#fff;
  font-size: 24px;
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
}

.odometer-formatting-mark{
  display: none;
}

.hotspots{
  z-index: 10;
  position: absolute;
  min-width: 960px;
  width: 100%;
  height:100%;
  pointer-events:none;
}

.pin{
  position: absolute;
  background-image: url(../img/safi/pin-shadow.png);
  height: 51px;
  width: 35px;
  cursor: pointer;
  pointer-events: auto;
}

.pin span{
  background-image: url(../img/safi/pin-body.png);
  transition: all 0.2s ease;
  height: 51px;
  width: 35px;
  display: block;
}

.pin span:hover{
  margin-top: -5px;
}

.pin-1{
  top: 50%;
  left: 30%;
}

.pin-2{
  top: 48%;
  left: 54%;
}

.pin-3{
  top: 10%;
  left: 67%;
}

.modal-popup{
  padding:10px;
  width:370px;
  height: auto;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  display: none;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px 3px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         0px 3px 15px 0px rgba(0, 0, 0, 0.75);
}

.modal-3{

}


.modal-popup h4{
  margin-bottom: 5px;
}

.modal-popup p{
  margin-bottom: 0;
}

.mini-slideshow{
  margin-bottom: 5px;
}

.odometer.odo-mini{
  font-family: 'ZurichBT-RomanCondensed', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 35px;
  color: #4b423b;
  text-shadow: none;
}

.tip-pin1{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  left: -15px;
  top: 209px;
}

.tip-pin2{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  left: -15px;
  top: 120px;
}

.tip-pin3{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  right: -15px;
  top: 60px;
}

a.learn-more{
  background-color: #3a6e8f;
  text-decoration: none;
  cursor: pointer;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  color: #fff;
  padding-top: 1.0625rem;
  padding-bottom: 1rem;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important;
}

@media screen and (max-width: 1250px) {
  .safi-menu .menu {
    left: 43%;
    width: 57%;
  }
  .safi-platform .platform-feature,
  .safi-placemaker .platform-feature {
    max-width: 55%;
    z-index: 1;
  }
}
@media screen and (max-width: 1280px) {
  .safi-quote {
    background-size: auto 458px;
  }

  .safi-population-experts{
    background-size: auto 716px;
  }

  .safi-banner {
    background-size: auto 430px;
  }
  .safi-contact {
    background-size: auto 568px;
  }
}

@media only screen and (min-width: 1240px){
  .pin-1 {
    top: 53%;
    left: 30%;
  }

  .pin-2{
    top:50%;
    left: 54%;
  }

  .pin-3{
    top: 12%;
    left: 67%;
  }

}

@media only screen and (min-width: 1600px){
  .pin-1 {
    top: 55%;
    left: 30%;
  }

  .pin-2{
    top: 50%;
    left: 54%;
  }

  .pin-3{
    top: 14%;
    left: 67%;
  }

}
