

/* The Grid ---------------------- */
.lt-ie9 .row { width: 960px; max-width: 100%;  margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; width:auto;}
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1, 
.lt-ie9 .row .large-1 { width: 8.33333%; }

.lt-ie9 .large-2, 
.lt-ie9 .row .large-2 { width: 16.66667%; }

.lt-ie9 .large-3, 
.lt-ie9 .row .large-3 { width: 25%; }

.lt-ie9 .large-4, 
.lt-ie9 .row .large-4 { width: 33.33333%; }

.lt-ie9 .large-5, 
.lt-ie9 .row .large-5 { width: 41.66667%; }

.lt-ie9 .large-6, 
.lt-ie9 .row .large-6 { width: 50%; }

.lt-ie9 .large-7, 
.lt-ie9 .row .large-7 { width: 58.33333%; }

.lt-ie9 .large-8, 
.lt-ie9 .row .large-8 { width: 66.66667%; }

.lt-ie9 .large-9, 
.lt-ie9 .row .large-9 { width: 75%; }

.lt-ie9 .large-10, 
.lt-ie9 .row .large-10 { width: 83.33333%; }

.lt-ie9 .large-11, 
.lt-ie9 .row .large-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }




.lt-ie9 .top-bar {
  background: #2f2f2f;
  *zoom: 1;
  overflow: visible; 
}
.lt-ie9 .top-bar:before, .lt-ie9 .top-bar:after {
  content: " ";
  display: table; 
}
.lt-ie9 .top-bar:after { clear: both; }
.lt-ie9 .top-bar .toggle-topbar { display: none; }
.lt-ie9 .top-bar .title-area { float: left; }
.lt-ie9 .top-bar .name h1 a { width: auto; }
.lt-ie9 .top-bar input,
.lt-ie9 .top-bar .button {
  line-height: 2em;
  font-size: 0.875em;
  height: 2em;
  padding: 0 10px;
  position: relative;
  top: 8px; 
}
.lt-ie9 .top-bar.expanded { background: #111111; }
.lt-ie9 .contain-to-grid .top-bar {
  max-width: 57.5em;
  margin: 0 auto; 
}
.lt-ie9 .top-bar-section {
  -webkit-transition: none 0 0;
  -moz-transition: none 0 0;
  transition: none 0 0;
  left: 0 !important; 
}
.lt-ie9 .top-bar-section ul {
  width: auto;
  height: auto !important;
  display: inline; 
}
.lt-ie9 .top-bar-section ul li { float: left; }
.lt-ie9 .top-bar-section ul li > a { 
	padding-bottom:0;
	padding-top:0px;
	line-height: 35px;
	padding-right: 14px !important; 
}
.lt-ie9 .top-bar-section ul li .js-generated { display: none; }
.lt-ie9 .top-bar-section li a:not(.button) {
  padding: 0 15px;
  line-height: 35px;
  background: #111111; 
}
.lt-ie9 .top-bar-section li a:not(.button):hover { background: #2b2b2b; }
.lt-ie9 .top-bar-section .has-dropdown > a { padding-right: 35px !important; }
.lt-ie9 .top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px rgb(255, 255, 255);
  margin-top: -2.5px; 
}
.lt-ie9 .top-bar-section .has-dropdown.moved { position: relative; }
.lt-ie9 .top-bar-section .has-dropdown.moved > .dropdown { visibility: hidden; }
.lt-ie9 .top-bar-section .has-dropdown:hover > .dropdown, 
.lt-ie9 .top-bar-section .has-dropdown:active > .dropdown { visibility: visible; }


.lt-ie9 .top-bar-section .has-dropdown>a:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: inset 5px;
	border-color: rgb(255,255,255) transparent transparent transparent;
	border-top-style: solid;
	margin-top: -6px;
	top: 22.5px;
}

.lt-ie9 .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: inset 5px;
	border-color: transparent transparent transparent rgb(255,255,255);
	border-left-style: solid;
	margin-right: 15px;
	margin-top: -4.5px;
	position: absolute;
	top: 50%;
	right: 0;
}


	

.lt-ie9 .top-bar-section .dropdown {
  left: 0;
  top: auto;
  background: transparent; 
}
.lt-ie9 .top-bar-section .dropdown li a {
  line-height: 1;
  white-space: nowrap;
  background: #1e1e1e; 
}
.lt-ie9 .top-bar-section .dropdown li label {
  white-space: nowrap;
  background: #1e1e1e; 
}
.lt-ie9 .top-bar-section .dropdown li .dropdown {
  left: 100%;
  top: 0; 
}
.lt-ie9 .top-bar-section > ul > .divider {
  border-bottom: none;
  border-top: none;
  border-right: solid 1px #2b2b2b;
  clear: none;
  height: 35px;
  width: 0px; 
}
.lt-ie9 .top-bar-section .has-form {
  background: #111111;
  padding: 0 15px;
  height: 35px; 
}
.lt-ie9 .top-bar-section ul.right li .dropdown {
  left: auto;
  right: 0; 
}
.lt-ie9 .top-bar-section ul.right li .dropdown li .dropdown { right: 100%; }



/*bah*/

.lt-ie9 .top-bar {
  *zoom: 1;
  overflow: visible; 
  background: #cccccc;
}

.lt-ie9 .top-bar-section li, 
.lt-ie9 .top-bar-section li a {
	background: #999;
}

.lt-ie9 .top-bar-section li a:hover {
	background: #53585a;
}

.lt-ie9 .top-bar-section > ul > .divider, 
.lt-ie9 .top-bar-section > ul > [role="separator"] {
	border-right: solid 2px #ccc;
}



.lt-ie9 .top-bar ul > li.has-dropdown .dropdown li.active > a,
.lt-ie9 .top-bar-section ul li.has-dropdown.active,
.lt-ie9 .top-bar-section ul li.active > a{
	background: rgb(255,89,0);
	color: #fff;
}

.lt-ie9 .top-bar ul > li.has-dropdown ul.dropdown li{
	background: #999;
	padding:0;
}

.lt-ie9 .top-bar ul > li.has-dropdown ul.dropdown li a {
	background: #999;
	line-height: 35px;
}

.lt-ie9 .top-bar ul > li.has-dropdown ul.dropdown li a:hover {
	background: #53585a;
}

.lt-ie9 .top-bar ul,
.lt-ie9 .top-bar ul > li.has-dropdown .dropdown {
	background: #999;
	padding-top: 0;
}

.lt-ie9 .top-bar:after { clear: both; }
.lt-ie9 .top-bar .toggle-topbar { display: none; }
.lt-ie9 .top-bar .title-area { float: left; }
.lt-ie9 .top-bar .name h1 a { width: auto; }

.lt-ie9 .row.wrapper{
	position: relative;
	padding-top: 35px;
}

.lt-ie9 .id-logo{
	background-color: rgb(255, 89, 0);
	height:97px;
}

.lt-ie9 .id-logo.profile{
	background-color: rgb(231,25,57);
	background-size: 288px 100px;
}

.lt-ie9 .id-logo.forecast{
	background-color: rgb(59,110,143);
}

.lt-ie9 .id-logo.economy{
	background-color: rgb(113,184,90);
}

.lt-ie9 .id-logo.atlas{
	background-color: rgb(202,174,1);
}

.lt-ie9 .top-bar ul{
	height:35px;
	display: inline;
	margin-left: 0;
	list-style-type: none;
}

.lt-ie9 .top-bar ul > li.has-dropdown .dropdown{
	z-index: 990;
	position: absolute;
	padding-bottom: 0;
	margin:0;
	padding-left: 0;
	padding-right: 0;
	visibility: hidden;
}


.lt-ie9 .hero-products > div:first-child {
	border: 15px solid rgb(255, 89, 0);
	min-height: 260px;
	padding: 15px 35px 15px 35px;
	background-color: #fff;
}

.lt-ie9 .client-list-container{
	width: 100%;
}

.lt-ie9 .filter-container{
	margin-bottom: 0;
	max-height:60px;
}

.lt-ie9 .clientFilterRegion,
.lt-ie9 .staffFilter{
	height:30px;
	width: 10%;
	padding:0;
	padding-left: 10px;
	padding-right: 10px;
}

.lt-ie9 .staff-member .open-close-icn{
	display: none;
}

.lt-ie9 .staffFilter{
	height:30px;
	width: 20%;
	padding:0;
	padding-left: 10px;
	padding-right: 10px;
}

.lt-ie9 td.client-col a{
	line-height:25px;
}

.lt-ie9 td.client-col a:hover{
	text-decoration: underline;
}

.lt-ie9 .top-bar .name{
	display: none;
}

.lt-ie9 .blogroll ul li h6 a,
.lt-ie9 .blogroll h6.more-blog-posts a{
	line-height: 20px;
}
.lt-ie9 .blog-feed, 
.lt-ie9 .playVideo, 
.lt-ie9 .subscribe-form,
.lt-ie9 .generic-box
{
	margin-top: 15px;
}

.lt-ie9 .footer-box.inverted:before {
content: "";
width: 13px;
height: 12px;
position: absolute;
top: 0;
left: 0;
z-index: 1;
background-image: url(img/icon_arrow_box_grey.png);
background-position: 0 0;
background-repeat: no-repeat;
}
